.sidenav {
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 50px; 
    left: 50;
    background-color:black; 
    overflow-x: hidden; 
    padding-top: 200px;
  }
  
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: blue;
    display: block;
  }
  
  
  .sidenav a:hover {
    color: blue;
  }
  
  
  .main {
    margin-left: 160px; 
    padding: 0px 10px;
  }
  
 
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .bg {
   
    background-image: url('/assets/b2.jpg');
    
    position:fixed;
    top: 0;
    left:0;
    
    background-repeat:repeat;
    background-size: cover;
    
    min-width:100% ;
    min-height: 1000px;
   
    
  }
  
