<p>login works!</p>
<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Login</h3>
<form [formGroup]="regform">
            
                <div class="form-group">
                    <input type="text" formControlName="username" class="form-control" placeholder="Your Name *" value=""  [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                        <div *ngIf="f.username.errors.pattern">Enter only Alphabets</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" formControlName="password" class="form-control" placeholder="Your password *" value="" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">password is required</div>
                            <div *ngIf="f.password.errors.pattern">Enter only Alphabets</div>
                        </div>
                </div>
                <div class="form-group">
                    <button style="border-color:white;color: white;" class="btn btn-outline-default my-2 my-sm-0" type="submit">login</button>
                </div>
                <div class="form-group" style="margin-left: 50px;">
                    
                        <a style="color:white;" [routerLink]="'/Land/registerbuyer'"  routerLinkActive="router-link-active" routerLinkActive="router-link-active">RegisterBuyer</a>
                         <a style="color:white;" [routerLink]="'/Land/registerSeller'" >/RegisterSeller</a>
                      
                </div>
               
                </form>
            </div>
    </div>
</div>